body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.Table .row {
    display: table-row;
}

.Table .column.head {
    border-bottom: 5px solid #555;
    display: table-cell;
}

.Table .column {
    display: table-cell;
}

.Tag {
    margin: 0 5px;
}